<div class="container-fluid pt-3 height-100vh d-flex" style="background: #42403d;    padding: 0 2.5rem;">
    <!-- <div class="col">
             <form ng-submit="finishCharacterCreation(data)">
                <h5>1. Please Choose Your Race</h5>
                <div class="form-group">
                    <select ng-model="data.race" class="custom-select">
                        <option selected disabled>Open this select menu</option>
                        <option value="Shamadji Teca">Shamadji Teca</option>
                        <option value="Shamadji Roht">Shamadji Roht</option>
                        <option value="Urugar">Urugar</option>
                        <option value="Human">Human</option>
                        <option value="Vampire">Vampire</option>
                        <option value="Black Chotgor">Black Chotgor</option>
                        <option value="Red Chotgor">Red Chotgor</option>
                        <option value="Gargoyle">Gargoyle</option>
                        <option value="Grepter">Grepter</option>
                    </select>
                </div>
                <h5>2. Please Choose Your Class</h5>
                <div class="form-group">
                    <select ng-model="data.class" class="custom-select">

                        <option ng-if="data.race === 'Shamadji Teca' || 
                                        data.race === 'Shamadji Roht' ||
                                        data.race === 'Urugar' ||
                                        data.race === 'Human'" value="Chevalier">Chevalier</option>

                        <option ng-if=" data.race === 'Shamadji Teca' || 
                                        data.race === 'Shamadji Roht' ||
                                        data.race === 'Urugar' ||
                                        data.race === 'Human'" value="Scholar">Scholar</option>

                        <option ng-if=" data.race === 'Vampire' || 
                                        data.race === 'Black Chotgor' ||
                                        data.race === 'Red Chotgor' ||
                                        data.race === 'Gargoyle' ||
                                        data.race === 'Grepter' ||
                                        data.race === 'Human'" value="Rogue">Rogue</option>

                        <option ng-if=" data.race === 'Vampire' || 
                                        data.race === 'Black Chotgor' ||
                                        data.race === 'Red Chotgor' ||
                                        data.race === 'Gargoyle' ||
                                        data.race === 'Grepter' ||
                                        data.race === 'Human'" value="Plague Doctor">Plague Doctor</option>

                        <option ng-if=" data.race === 'Shamadji Teca' || 
                                        data.race === 'Shamadji Roht' ||
                                        data.race === 'Urugar' ||
                                        data.race === 'Human' ||
                                        data.race === 'Vampire' || 
                                        data.race === 'Black Chotgor' ||
                                        data.race === 'Red Chotgor' ||
                                        data.race === 'Gargoyle' ||
                                        data.race === 'Grepter'" value="Routier">Routier</option>

                        <option ng-if="data.race === 'Shamadji Teca' || 
                                        data.race === 'Shamadji Roht' ||
                                        data.race === 'Urugar' ||
                                        data.race === 'Human' ||
                                        data.race === 'Vampire' || 
                                        data.race === 'Black Chotgor' ||
                                        data.race === 'Red Chotgor' ||
                                        data.race === 'Gargoyle' ||
                                        data.race === 'Grepter'" value="Ranger">Ranger</option>
                    </select>
                  
                </div>
                <button type="submit" class="btn btn-fill float-right">Finish Character Creation</button>
            </form> 
        </div>-->
    <!-- {{step}} -->
    <div ng-show="step === 1" ng-class="step === 1 ? 'showDat' ? 'hideDat'">
        <div class="row mb-4">
            <div class="col text-center">
                <h3 style="color: #bb843e;font-family: 'Kaushan Script', cursive;font-size: 49px">1. Choose Your Class</h3>
            </div>
        </div>
        <div class="row align-items-center jutify-content-center select-class-row">
            <div class="col z-index" ng-click="classChoise('Shamadji Teca')">
                <img src="/images/character-creation/classes/1. Shamadji_Teca_template.png" class="img-fluid">
            </div>
            <div class="col z-index" ng-click="classChoise('Shamadji Roht')">
                <img src="/images/character-creation/classes/2. Shamadji_Roht_Template.png" class="img-fluid">
            </div>
            <div class="col z-index" ng-click="classChoise('Urugar')">
                <img src="/images/character-creation/classes/3. Urugar_Template.png" class="img-fluid">
            </div>
            <div class="col z-index" ng-click="classChoise('Human')">
                <img src="/images/character-creation/classes/4. Human_template.png" class="img-fluid">
            </div>
            <div class="col z-index" ng-click="classChoise('Vampire')">
                <img src="/images/character-creation/classes/6.Vampire_template.png" class="img-fluid">
            </div>
        </div>
        <div class="row align-items-center jutify-content-center select-class-row">
            <div class="col-md" ng-click="classChoise('Black Chotgor')">
                <img src="/images/character-creation/classes/8. chotgor_black_templete.png" class="img-fluid">
            </div>
            <div class="col-md" ng-click="classChoise('Red Chotgor')">
                <img src="/images/character-creation/classes/7. chotgor_red_template.png" class="img-fluid">
            </div>
            <div class="col-md" ng-click="classChoise('Gargoyle')">
                <img src="/images/character-creation/classes/5. Gargoyle_template.png" class="img-fluid">
            </div>
            <div class="col-md" ng-click="classChoise('Grepter')">
                <img src="/images/character-creation/classes/9.Grepter_template.png" class="img-fluid">
            </div>
        </div>
    </div>

    <div ng-show="step === 2" style="">
        <span ng-click="characterCreationStep(1)"> (-- back to class selection</span>
        <div style="height: 88vh;
        display: flex;
        align-items: center;">
            <div class="row">

                <div class="col-md-4">
                    <img ng-src="{{selectedClass[0].img}}" alt="" class="img-fluid">
                </div>
                <div class="col-md-8 d-flex flex-column" style="    padding-bottom: 5rem;">
                    <h3>{{selectedClass[0].type}}</h3>
                    <div>Vitality: {{selectedClass[0].vitality}}</div>
                    <div>Power: {{selectedClass[0].power}}</div>
                    <div>Mobility: {{selectedClass[0].mobility}}</div>
                    <div>Teamwork: {{selectedClass[0].teamwork}}</div>
                    <div class="mt-auto">{{selectedClass[0].description}}</div>

                </div>


            </div>
        </div>

    </div>


</div>