<div class="container-fluid px-5 height-100vh character-creation-page d-flex flex-column justify-content-between" style=" padding: 1rem 4rem 2rem!important;">
    <!-- padding: 1rem 4rem 2rem!important;
        display: flex;
        flex-direction: column;
        justify-content: space-between; -->
    <div class="row">
        <div class="col text-center">
            <h3 style="color: #98e7b8;font-size: 49px">2. Choose Your Class</h3>
        </div>
    </div>

    <div class="row mx-0 align-items-center select-class-row">
        <div class="col z-index" ng-click="playerRace('Knight')">
            <img src="/images/classes/Class_Knight_Icon.png" class="img-fluid">
        </div>
        <div class="col z-index" ng-click="playerRace('Mage')">
            <img src="/images/classes/Class_Mage_Icon.png" class="img-fluid">
        </div>
        <div class="col z-index" ng-click="playerRace('Mercenary')">
            <img src="/images/classes/Class_Mercenary_Icon.png" class="img-fluid">
        </div>
    </div>

    <div class="row">
        <button class="mt-3 choose-class-btn">Choose Class</button>
    </div>

</div>

<!-- <div class="row" ng-show="raceSelectionStep === 2">

        <div class="col-12" style="padding: 2rem 0;font-size: 1.5rem;">
            <span ng-click="changeRaceSelectionStep(1)">
                <img src="/images/icons/back.svg" class="img-fluid" style="max-width:25px">
                <span class="gold-color">Back</span>
            </span>

        </div>
        <div class="col-4" style="height: calc(100vh - 101px); ">
            <img ng-src="{{choosenRace.img}}" class="img-fluid" style="max-height: 100%;">
        </div>
        <div class="col-8 d-flex flex-column gold-color" style="padding-bottom: 2rem;">
            <h2 class="mb-4">{{choosenRace.type}}</h2>
            <h3>Vitality: {{choosenRace.vitality}}</h3>
            <h3>Power: {{choosenRace.power}}</h3>
            <h3>Mobility: {{choosenRace.mobility}}</h3>
            <h3>Teamwork: {{choosenRace.teamwork}}</h3>
            <div class="mt-auto" style="font-size: 1.5rem;">{{choosenRace.description}}</div>
            <button class="mt-3 choose-class-btn" ng-click="playerRace()">Choose {{choosenRace.type}}</button>
        </div>
    </div> -->