<div class="container">
    <div class="row">
        <div class="col">
            <h3>Enter a new Room</h3>
            <form ng-submit="enterNewRoom(data)">
                <div class="form-group">
                    <label>Room Code</label>
                    <input type="text" class="form-control" placeholder="Enter Your Room Code Here" ng-model="data.roomCode">
                </div>
                <div class="text-right">
                    <button type="submit" class="btn btn-fill">Enter New Room</button>
                </div>
            </form>
            <hr class="my-3">
            <h3 class="mb-5">Or Login to an existing one</h3>
            <ul class="list-group">
                <a href="" class="list-group-item">Game: | Game Name 1</a>
                <a href="" class="list-group-item">Game: | Game Name 2</a>
                <a href="" class="list-group-item">Game: | Game Name 3</a>
                <a href="" class="list-group-item">Game: | Game Name 4</a>
                <a href="" class="list-group-item">Game: | Game Name 5</a>
            </ul>
        </div>
    </div>
</div>