<div class="container-fluid px-5 height-100vh character-creation-page" style="padding-top:1rem">

    <div class="row">
        <div class="col text-center">
            <h3 style="color: #98e7b8;font-size: 49px">3. Choose Your Subclass</h3>
        </div>
    </div>
    <div style="color:white">
        <!-- playerEnergy: {{playerEnergy}} -->
        <!-- <button class="mt-3 choose-class-btn" ng-click="characterCreationFinalize()">Finish</button> -->
    </div>
    <div class="row" style="color:white">
        <span ng-if="avaliableClass==='Chevalier' || playerRace.race === 'Human'" class="btn btn-primary" ng-click="characterCreationFinalize('Chevalier')">
            <img src="/images/subclasses/Chevalier.png" alt="" class="img-fluid" style="max-width:200px">
        </span>
        <span ng-if="avaliableClass==='Rogue' || playerRace.race === 'Human'" class="btn btn-primary" ng-click="characterCreationFinalize('Rogue')">Rogue</span>
        <span ng-if="avaliableClass==='Scholar' || playerRace.race === 'Human'" class="btn btn-primary" ng-click="characterCreationFinalize('Scholar')">
            <img src="/images/subclasses/Scholar.png" alt="" class="img-fluid" style="max-width:200px">
        </span>
        <span ng-if="avaliableClass==='Plague Doctor' || playerRace.race === 'Human'" class="btn btn-primary" ng-click="characterCreationFinalize('Plague Doctor')">
            <img src="/images/subclasses/Plague_Doctor.png" alt="" class="img-fluid" style="max-width:200px">

        </span>
        <span ng-if="playerClass==='Mercenary'" class="btn btn-primary" ng-click="characterCreationFinalize('Routier')">
            <img src="/images/subclasses/Rotier.png" alt="" class="img-fluid" style="max-width:200px">

        </span>
        <span ng-if="playerClass==='Mercenary'" class="btn btn-primary" ng-click="characterCreationFinalize('Sniper')">Sniper
        </span>
    </div>


</div>