<div class="container-fluid user-page">
    <div class="row">
        <div class="col sidebar">
            <img src="/images/Etril_Logo_minimal.png" alt="Etril Co" class="logo img-fluid">
            <ul class="list-unstyled">
                <li>Etril Maps</li>
                <li>Etril CS</li>
                <li ng-click="logoutUser()">Logout</li>
            </ul>
        </div>
        <div class="col main-content">
            <div class="row">
                <div class="col top-bar">
                    <div>Welcome back {{user.username}}</div>
                    <div>You haven't joined any room yet </div>
                </div>
            </div>
            <div ng-if="userType === 'GM'" ng-include="'/views/components/user-page/gm-userpage.html'"></div>
            <div ng-if="userType !== 'GM'" ng-include="'/views/components/user-page/user-userpage.html'"></div>
        </div>
    </div>

</div>