.character-creation-page {
    background: #42403d
}
.select-class-row [class^='col'] {
    text-align: center;
}
.select-class-row .z-index:hover {
    z-index: 1;
}

.select-class-row img {
    max-height: 37vh;
    filter: blur(6px);
    transition: all .1s ease-in-out
}
.select-class-row img:hover {
    filter: none;
    transform: scale(1.5);
    z-index: 1;
}
.choose-class-btn {
    background: #bb843e;
    color: #42403d;
    border: none;
    border-radius: 4px;
    width: 400px;
    padding: 1.25rem 0;
    margin: 3rem auto 0 !important;
}