/* .user-page button.btn {
    width: 175px;
    padding: .5rem;
}
.user-page .btn-outline.collapsed {
    background: transparent;
    border: 1px solid #4bcb7e;
    color: #4bcb7e;
   
}
.user-page .btn-outline {
    background: #4bcb7e;
    color: white;
    border: 1px solid #4bcb7e;
}
.sidemenu {
    min-height: 100vh;
    background: #4bcb7e;
    max-width: 250px;
    color: white;
} */

/* .user-page .main-content .page-col .action-header {
    display: flex;
    align-items: center;
}
.user-page .main-content .page-col .action-header .line {
    flex: 1;
    border-bottom: 1px solid #ccc;
    margin-left: 1rem;
} */
.user-page .room-list ul li {
    border-bottom: 1px solid #cccccc;
    padding: 1rem
}
.user-page .room-list ul li .users {
    color:grey
}
.user-page .alert.alert-success {
    position: absolute;
    right: 1rem;
    top: 0;
}

/* background-color: #343a40!important */