<div class="row">
    <div class="col page-col wrapper">
        <div class="position-relative">
            <div ng-if="!page">
                <div class="create-room">
                    <div class="action-header">
                        <h5>Join A New Room</h5>
                        <div class="line"></div>
                    </div>
                    <form ng-if="user.userType === 'Simple User'" ng-submit="joinNewRoom(data)">
                        <div class="form-group">
                            <label>Room Id</label>
                            <input type="text" class="form-control" placeholder="Enter Your Room Id Here" ng-model="data.id">
                            <div ng-if="sucessMsg" class="alert alert-success mt-3">
                                {{sucessMsg}}
                            </div>
                            <div ng-if="failMsg" class="alert alert-danger mt-3">
                                {{failMsg}}
                            </div>
                        </div>
                        <div class="text-right">
                            <button class="btn btn-fill">Join Room</button>
                        </div>
                    </form>
                </div>
                <div class="create-room">
                    <div class="action-header">
                        <h5>Rooms</h5>
                        <div class="line"></div>
                    </div>

                    <div class="room-list">
                        <ul class="list-unstyled">
                            <li ng-repeat="room in user.rooms">
                                <a ng-href="/room/{{room._id}}">
                                    <div class="d-flex">
                                        <span>Name: {{room.name}}</span>
                                        <span class="ml-auto">ID: {{room._id}}</span>
                                    </div>
                                    <div class="users">Users:
                                        <span ng-repeat="user in room.users track by $index">
                                            <span>{{user.username}}</span>
                                            <span ng-if="!$last">,</span>
                                        </span>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>