<div ng-if="view === 'maps'" style="position:relative" class="room-pa">
    <!-- <h3 class="text-center">GM</h3> -->
    <form ng-submit="addMapTooRoom(room)" class="pb-3  mb-3" style="border-bottom:1px solid grey;">
        <h5 class=" no-gutters" style="    border-bottom: 1px solid grey;
        padding-bottom: .5rem;
        margin-bottom: .5rem;">Avaliable
            maps to players</h5>
        <div class="row">
            <div class="col">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" ng-model="room.maps.gurenGraslands">
                    <label class="form-check-label">Guren Graslands</label>
                </div>
                <!-- {{userToShow.maps}} -->
                <!-- value1 = {{userToShow.maps.gurenGraslands}} -->
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" ng-model="room.maps.tamir">
                    <label class="form-check-label">tamir</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" ng-model="room.maps.bayar">
                    <label class="form-check-label">bayar</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" ng-model="room.maps.spikeBay">
                    <label class="form-check-label">spike bay</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" ng-model="room.maps.scarletHills">
                    <label class="form-check-label">scarlet hills</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" ng-model="room.maps.erdeneForest">
                    <label class="form-check-label">erdene forest</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" ng-model="room.maps.dalaiVillage">
                    <label class="form-check-label"> dalai village</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" ng-model="room.maps.tsetsegForest">
                    <label class="form-check-label">tsetseg forest</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" ng-model="room.maps.goldenValley">
                    <label class="form-check-label">golden valley</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" ng-model="room.maps.IkhThorog">
                    <label class="form-check-label">IkhThorog</label>
                </div>

            </div>
        </div>
        <button class="show-map-btn active mt-2 px-5">Save</button>
    </form>

    <div class="row">
        <div class="col" ng-init="map='Guren Graslands'">
            <span class="show-map-btn" ng-class="map === 'Guren Graslands' ? 'active' : ' ' " ng-click="map = 'Guren Graslands'">
                Guren Graslands
            </span>
            <span class="show-map-btn" ng-class="map==='tamir' ? 'active' :  '' " ng-click="map = 'tamir'">tamir</span>
            <span class="show-map-btn" ng-class="map==='bayar' ? 'active' :  ''" ng-click="map = 'bayar'">bayar</span>
            <span class="show-map-btn" ng-class="map==='spike bay' ? 'active' :  ''" ng-click="map = 'spike bay'">spike
                bay</span>
            <span class="show-map-btn" ng-class="map==='scarlet hills' ? 'active' : ' '" ng-click="map = 'scarlet hills'">scarlet
                hills</span>
            <span class="show-map-btn" ng-class="map==='erdene forest' ? 'active' : ' '" ng-click="map = 'erdene forest'">erdene
                forest</span>
            <span class="show-map-btn" ng-class="map==='dalai village' ? 'active' : ' '" ng-click="map = 'dalai village'">dalai
                village</span>
            <span class="show-map-btn" ng-class="map==='tsetseg forest' ? 'active' : ' '" ng-click="map = 'tsetseg forest'">tsetseg
                forest</span>
            <span class="show-map-btn" ng-class="map==='golden valley' ? 'active' : ' '" ng-click="map = 'golden valley'">golden
                valley</span>
            <span class="show-map-btn" ng-class="map==='IkhThorog' ? 'active' : ' '" ng-click="map = 'IkhThorog'">Ikh'Thorog</span>
        </div>

    </div>

    <div class="row">
        <div class="col">
            <img class="img-fluid" ng-if="map === 'Guren Graslands'" src="/images/maps-qwerty-min/GM Guren Grasslands-min.png">
            <img class="img-fluid" ng-if="map==='tamir'" src="/images/maps-qwerty-min/GM Tamir the Capital-min.png">
            <img class="img-fluid" ng-if="map==='bayar'" src="/images/maps-qwerty-min/GM Bayar city-min.png">
            <img class="img-fluid" ng-if="map==='spike bay'" src="/images/maps-qwerty-min/GM Spike Bay-min.png">
            <img class="img-fluid" ng-if="map==='scarlet hills'" src="/images/maps-qwerty-min/GM Scarlet Hills Map-min.png">
            <img class="img-fluid" ng-if="map==='erdene forest'" src="/images/maps-qwerty-min/GM Erdene Forest-min.png">
            <img class="img-fluid" ng-if="map==='dalai village'" src="/images/maps-qwerty-min/GM Dalai Village Map-min.png">
            <img class="img-fluid" ng-if="map==='tsetseg forest'" src="/images/maps-qwerty-min/GM Tsetseg Forest-min.png">
            <img class="img-fluid" ng-if="map==='golden valley'" src="/images/maps-qwerty-min/GM Guren Grasslands-min.png">
            <img class="img-fluid" ng-if="map==='IkhThorog'" src="/images/maps-qwerty-min/GM Ikh'Thorog Map-min.png">
        </div>
        <!-- <div class="my-canvas" style="width: 100%;height: 100%;"> -->

        <!-- </div> -->
    </div>
</div>

<div ng-if="view === 'cs'">
    <div ng-if="room.users.length === 0"> No player has koined the room yet</div>
    <div ng-if="room.users.length > 0">
        <div class="row navtabs">
            <div class="col" ng-repeat="user in room.users" ng-click="getUserId(user.id)" ng-class="user.id === userToShow.id ? 'active' : ''">
                <span>{{user.username}}</span>
            </div>
        </div>
        <form class=" row nav-content" ng-submit="editUserRoomData(userToShow)">

            <!-- userToShow.id {{userToShow.id}}
            <br>
            user.id {{user.id}} -->
            <div class="col-12" ng-repeat="user in room.users" ng-if="userToShow.id === user.id">

                <div class="row pb-2">
                    <div class="col">Name: {{userToShow.username}}</div>
                    <div class="col text-right">Level: {{userToShow.level}} <span ng-if="user.level === undefined">undefined</span></div>
                </div>
                <div class="row pb-3" style="border-bottom: 1px solid grey">
                    <div class="col">Race: {{userToShow.playerRace}}</div>
                    <div class="col text-center">Class: {{userToShow.playerClass}}</div>
                    <div class="col text-right" style="white-space:nowrap">Subclass: {{userToShow.playerSubclass}}</div>
                </div>
                <div class="row py-3" style="border-bottom: 1px solid grey">
                    <div class="col-5 battle-stats-col">
                        <h5>Battle Statistics</h5>
                        <div class="row">
                            <div class="col">Vitality</div>
                            <div class="col">
                                <!-- {{userToShow.stats.vitality}} -->
                                <input class="custom-input" type="text" ng-model="userToShow.stats.vitality"
                                    placeholder="Vitality">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">Power</div>
                            <div class="col pr-1">
                                <div>MS:</div>
                                <div>SS:</div>
                                <div>CS:</div>
                            </div>
                            <div class="col">
                                <input class="custom-input" type="text" ng-model="userToShow.stats.power" placeholder="Power">
                                <div>{{userToShow.stats.power /2}}</div>
                                <div>0</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">Teamwork</div>
                            <div class="col">
                                <input class="custom-input" type="text" ng-model="userToShow.stats.teamwork"
                                    placeholder="Teamwork">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">Armor</div>
                            <div class="col">
                                <input class="custom-input" type="text" ng-model="userToShow.stats.armor" placeholder="Armor">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">Mobility</div>
                            <div class="col">
                                <input class="custom-input" type="text" ng-model="userToShow.stats.mobility"
                                    placeholder="Mobility">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">Range</div>
                            <div class="col">
                                <input class="custom-input" type="text" ng-model="userToShow.stats.range" placeholder="Range">
                            </div>
                        </div>
                    </div>
                    <div class="col-2" style="border-left:1px solid grey;border-right:1px solid grey;">
                        <h5 class="text-center">Total</h5>
                    </div>
                    <div class="col-5 off-combact-stats-col d-flex flex-column">
                        <h5>Adventure Statistics</h5>
                        <div class="row">
                            <div class="col">Exploration</div>
                            <div class="col">
                                <input class="custom-input" type="text" ng-model="userToShow.stats.exploration"
                                    placeholder="Exploration">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">Diplomacy</div>
                            <div class="col">
                                <input class="custom-input" type="text" ng-model="userToShow.stats.diplomace"
                                    placeholder="Diplomacy">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">Intelect</div>
                            <div class="col">
                                <input class="custom-input" type="text" ng-model="userToShow.stats.intelect"
                                    placeholder="Intelect">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">Stamina</div>
                            <div class="col">
                                <input class="custom-input" type="text" ng-model="userToShow.stats.stamina" placeholder="Stamina">
                            </div>
                        </div>
                        <div class="row mt-auto">
                            <div class="col">Grey Tokens</div>
                            <div class="col">
                                <input class="custom-input" type="text" ng-model="userToShow.stats.greyTokens"
                                    placeholder="Grey Tokens">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row pt-4 pb-3 gear-col">
                    <h5 class="col-12 no-gutters">Gear</h5>
                    <div class="col-md-6 no-gutters">
                        <div>
                            <input class="custom-input" type="text" ng-model="userToShow.gear.weaponSlot1" placeholder=" Weapon Slot 1">

                        </div>
                        <div>
                            <input class="custom-input" type="text" ng-model="userToShow.gear.weaponSlot2" placeholder=" Weapon Slot 2">
                        </div>
                    </div>
                    <div class="col-md-6 no-gutters">
                        <div>
                            <input class="custom-input" type="text" ng-model="userToShow.gear.armorSlot1" placeholder=" Armor Slot 1">
                        </div>
                        <div>
                            <input class="custom-input" type="text" ng-model="userToShow.gear.armorSlot2" placeholder=" Armor Slot 2">
                        </div>
                    </div>
                </div>

                <div class="row pt-4 pb-3 bag-col">
                    <h5 class="col-12 no-gutters">Bag</h5>
                    <div class="col-md-4 no-gutters">
                        <div>
                            <input class="custom-input" type="text" ng-model="userToShow.bag.itemSlot1" placeholder=" Item Slot 1">
                        </div>
                        <div>
                            <input class="custom-input" type="text" ng-model="userToShow.bag.itemSlot2" placeholder=" Item Slot 2">
                        </div>
                    </div>
                    <div class="col-md-4 no-gutters">
                        <div>
                            <input class="custom-input" type="text" ng-model="userToShow.bag.itemSlot3" placeholder=" Item Slot 3">
                        </div>
                        <div>
                            <input class="custom-input" type="text" ng-model="userToShow.bag.itemSlot4" placeholder=" Item Slot 4">
                        </div>
                    </div>
                    <div class="col-md-4 no-gutters">
                        <div>
                            <input class="custom-input" type="text" ng-model="userToShow.bag.itemSlot5" placeholder=" Item Slot 5">
                        </div>
                        <div>
                            <input class="custom-input" type="text" ng-model="userToShow.bag.itemSlot6" placeholder=" Item Slot 6">
                        </div>
                    </div>
                </div>

                <div class="row pt-4 pb-3 bag-col">
                    <h5 class="col-12 no-gutters">General Info</h5>
                    <div class="form-group w-100">
                        <textarea class="form-control" rows="3" ng-model="userToShow.generalInfo"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <button class="show-map-btn active float-right px-5 ">Save</button>

                    </div>
                </div>
            </div>
        </form>
    </div>


</div>

<div ng-if='successMsg' class="alert alert-success" role="alert">
    {{successMsg}}
</div>
<div ng-if='failMsg' class="alert alert-danger" role="alert">
    {{failMsg}}
</div>